/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    background: #f5f5f5;
    line-height: 1.5;
    color: #3d3d3d;
    padding-bottom: 74px;
}

h1 {
    margin: 40px 0 40px 0;
    font-size: 1.8em;
  
}

h2 {
    margin-top: 0;
}

img {
    width: 100%;
}

ul,
ol {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/** Font Styling **/

#portfolio,
.main-header,
.main-footer,
#contact {
    font-family: 'Neuton', sans-serif;
}

/** Pseudo Elements **/

a:link {
    color: #3d3d3d;
}

a:visited {
    color: #3d3d3d;
}

a:hover {
    color: #969696;
}


/* ================================= 
  Base Layout Styles
==================================== */

/** Navigation **/



.main-nav li {
    display: block;
    background: white;
    margin-top: 5px;
}

.main-nav a {
    display: block;
    padding: 1rem;
}

.footer-name {
    float: left;
}

.back {
    float: right;
}

.footer-nav {
    display: none;
}

/** Layout Containers **/

.profile {
    width: 75%;
    max-width: 600px;
}

.feature {
    padding: 50px 0;
}

#portfolio {
    margin-bottom: 50px;
}

.container {
    text-align: center;
    background: white;
    padding: 50px 1.5rem 50px 1.5rem;
}

.contact {
    padding: 50px 0 50px 0;
}

.skills {
    padding: 0 0 50px 0;
}

.main-header,
.main-footer,
.contact,
.skills,
.feature {
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main-footer {
    border-top: 1px solid #3d3d3d;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
}

.col {
    color: #6b6b6b;
}

.skills {
    line-height: 2;
}

.html {
    color: rgb(0, 159, 180);
    background: rgb(238, 149, 47);
    border-radius: 5px;
    display: inline-block;
}

.css {
    color: rgb(238, 149, 47);
    background: rgb(0, 159, 180);
    border-radius: 5px;
    display: inline-block;
}

.javascript {
    color: rgb(20, 12, 3);
    background: rgb(210, 212, 65);
    border-radius: 5px;
    display: inline-block;
}

.ruby {
    color: white;
    background: rgb(160, 25, 25);
    border-radius: 5px;
    display: inline-block;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    body {
        font-size: 1.3em;
    }

    .name {
        font-size: 2em;
    }

    .main-nav li {
        background: #f5f5f5;
    }

    
    .main-nav li {
        display: inline-block;
    }
    
    .main-nav a {
        padding: 0;
        margin: 0 1em 0 1em;
    }

    .profile {
        width: 40%;
        margin-left: 1.5rem;
    }

    .feature,
    .profile {
        float: right;
    }

    .col {
        float: left;
        width: 50%;
        padding-left: .5em;
        padding-right: .5em;
    }
    
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

      .contact,
      .skills {
          width: 70%;
          margin: 0 auto;
      }

      .footer-nav {
          display: block;
          float: right;
      }

      .footer-nav li {
          display: inline-block;
          margin-right: 30px;
      }

      .back {
          display: none;
      }

      .container {
          clear: both;
      }

}


@media (min-width: 1024px) {

    .col {
        width: 33.33%;
        height: 500px;
    }

    .name {
        float: left;
        margin: 0;
    }

    .main-nav {
        float: right;
    }

    .name,
    .main-nav {
        display: inline-block;
    }

    .contact {
        width: 50%;
    }

}