* {
    box-sizing: border-box;
}

/** Base styles **/

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    background: #fafafa;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


/** Pseudo-Classes **/

/** Navigation **/

.main-footer {
    display: inline-block;
}


.footer-nav li,
.footer-name,
.footer-nav {
    display: inline-block;
}


/** Containers **/

.container {
    margin-left: .5em;
    margin-right: .5em;
}

.main-header,
.main-footer,
.contact,
.container {
    text-align: center;
}


/** Layout Styles **/

.footer-name,
.footer-nav {
    width: 40%;
}

.main-footer {
    border-top: 1px solid #e8e8e8;
    display: block;
}

.portfolio {
    margin-left: 1em;
    margin-right: 1em;
}

.contact {
    margin-top: 150px;
}




/** Floats **/


/** Media Queries **/



@media (min-width: 769px) {
    .portfolio,
    .contact {
    width: 70%;
    margin: 0 auto;
    }
}

/** Media Query Floats **/

